body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
}

#new-employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 1em;
    margin-block: 1em;
}

label {
    margin-right: 1em;

    font-size: 1.2em;
    font-family: Tahoma, sans-serif;
}

.btn {
    display:inline-block;

    padding: 0.3em 1.2em;
    margin: 0.5em 0 0.3em 0;
    text-align: center;
    border-radius: 0.25em;
    border: 0.1em solid #25CD22;
    box-sizing: border-box;

    background: #25CD22;
    color: #FFFFFF;

    font-size: 18px;

    transition: all 0.2s;
    cursor: pointer;
}

.reset {
    border: 0.1em solid #c02e24;

    background: #c02e24;
}
